.ai-image-generator{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    
    gap: 30px;
    height:100vh;
    justify-content: center;
    

}


.header{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span{
    color: #DE1B89;
    font-weight: 600;

}

.img-loading{
    display:flex;
    flex-direction:column;
}

.img-loading img{
    width:90%;
    max-width: 400px;
    height: auto;

}

.search-box{
    display: flex;
    max-width: 800px;
    width:90%;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1F3540;
}

.search-input{
    width:500px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;

}

.search-input::placeholder{
    color:#999;

}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65px;
    font-size: 15px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
}